@model KhotruyenM.Models.Users
@{
    ViewBag.Title = "DeleteUser";
    Layout = "~/Views/Shared/FormAdmin.cshtml";
}

<h3 style="font-size:25px;color:white">Bạn có chắc chắn muốn xóa tài khoản này không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt style="text-align:center">
            <p style="color: black; font-size: 20px">
                EMAIL:
                @Html.DisplayFor(model => model.Email)
            </p>
        </dt>

        <dt style="text-align:center">
            <p style="color: black; font-size: 20px">
                BIỆT DANH:
                @Html.DisplayFor(model => model.DisplayName)
            </p>
        </dt>

        <dt style="text-align:center">
            <p style="color: black; font-size: 20px">
                TÊN TÀI KHOẢN:
                @Html.DisplayFor(model => model.UserName)
            </p>
        </dt>

        <dt style="text-align:center">
            <p style="color: black; font-size: 20px">
                MẬT KHẨU TÀI KHOẢN:
                @Html.DisplayFor(model => model.Password)
            </p>
        </dt>
        <dt style="text-align:center">
            <p style="color: black; font-size: 20px">
                NGÀY TẠO:
                @Html.DisplayFor(model => model.CreateDate)
            </p>
        </dt>
        <dt style="text-align:center">
            <p style="color: black; font-size: 20px">
                AVATAR:
                <img src="@Html.DisplayFor(model => model.Avatar)" style="width:200px;height:150px;margin-top:20px" />
            </p>
        </dt>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" style="font-size: 20px; background-color: black" /> |
            @Html.ActionLink("TRỞ VỀ", "ControlUser", null, new { @class = "back" })
        </div>
    }
</div>
<style>
    .back {
        font-size: 20px;
        background-color: white;
        border: 2px solid black;
    }
</style>

