@model KhotruyenM.Models.Story
@{
    ViewBag.Title = "DeleteStory";
    Layout = "~/Views/Shared/FormAdmin.cshtml";
}

<h3 style="font-size: 30px;color: firebrick">Bạn có chắc chắn muốn xóa dữ liệu này không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal" style="display: flex; margin-left: 0px">
        <dt style="text-align: center; width: 300px; display: flex">
            <p style="color: black; font-size: 20px; margin: 20px; width: 230px">
                VIETNAMESE NAME:
                <br>
                @Html.DisplayFor(model => model.vnName)
            </p>
        <dt style="text-align: center; width: 300px; display: flex">
            <p style="color: black; font-size: 20px; margin: 20px; width: 160px">
                CHINESE NAME:
                <br>
                @Html.DisplayFor(model => model.cnName)
            </p>
        </dt>
        <dt style="text-align: center; width: 300px; display: flex">
            <p style="color: black; font-size: 20px; margin: 20px; width: 220px; word-wrap: break-word">
                ORIGINAL STORY:
                <br>
                @Html.DisplayFor(model => model.cnLink)
            </p>
        </dt>

        <dt style="text-align: center; width: 200px; display: flex">
            <p style="color: black; font-size: 20px; margin: 20px; width: 150px">
                CREATE DATE:
                <br>
                @Html.DisplayFor(model => model.CreateDate)
            </p>
        </dt>

        <dt style="text-align: center; width: 460px; display: flex">
            <p style="color:black;font-size:20px">
                STORY CONTENT:
                <br>
                @Html.DisplayFor(model => model.Information)
            </p>
        </dt>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style=" margin-left: 1380px">
            <input type="submit" value="Delete" class="btn btn-default" style="font-size: 20px; background-color: honeydew; border: 2px solid" /> |
            @Html.ActionLink("TRỞ VỀ", "ControlPhim", null, new { @class = "back" })
        </div>
    }
</div>
<style>
    .back {
        font-size: 20px;
        background-color: honeydew;
        border: 2px solid black;
    }
</style>